.button {
    padding: 10px 10px;
    width: 20%;
    margin: 2em;
    cursor: pointer;
    opacity: 1;
    background-color: gray;
    color: white;
    transition-duration: 0.4s;
    border-radius: 50px
  }
  
  .button:hover {
    background-color: white;
    color: black
  }