body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #d0f0c0 0%, #f9f9f9 50%, #fad0c4 100%);
  font-family: 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
